.services {
  width: 100%;
  background-image: url("https://kalanidhithemes.com/live-preview/landing-page/start-consultancy/images/services-bg.jpg");
  height: auto;
  padding: 6rem 0;
}

.services__container{
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}


.services__grid{
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    width: 100%;
    justify-content: center;
    margin-top: 6rem;
}

.services__box{
    padding: 2rem 2rem 1rem;
    height: 14rem;
    width: 22rem;
    background-color: var(--white);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    position: relative;
    transition: all .25s;
}
.services__box:hover{
  background-color: #1aa2f8 ;
  color: var(--white);
}

.box__tittleTransparent{
    font-size: 7rem;
    font-weight: 800;
    color: #d7d7d75c;
    position: absolute;
    top: -40px;
    
}


.box__paragraph{
    color: #9c9c9c;
    font-size: .9rem;
    margin-top: 24px;
}

.services__box:hover .box__paragraph{
color: var(--white);
}

.container__icons{
    margin-top: 20px;
}

.icon-right{
    color: #1aa2f8;
    
}

.services__box:hover .icon-right{
    color: var(--white);
}

.box__iconCorner{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .7rem .8rem;
    background-color: #2e3f5a;
    color: var(--white);
}

.services__box:hover .box__iconCorner{
    background-color: var(--white);
    color:  #1aa2f8 ;
}